<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <!-- css-->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap.theme.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <!--js-->
    <script src="/javascript/jquery-2.2.0.min.js"></script>
    <script src="javascript/bootstrap.min.js"></script>
</head>
<body>
<!--main navigation-->
<nav class="navbar navbar-default">
    <ul class="nav navbar-nav">
        <li><a href="/" title="Home">Home</a></li>
        <li><a href="/ron" title="Ron">Ron</a></li>
        <li><a href="/sara" title="Sara">Sara</a></li>
        <li><a href="/wendy" title="Wendy">Wendy</a></li>
        <li><a href="/sunghie" title="Sunghie">Sunghie</a></li>
    </ul>
</nav>